.content-wrap {
  width: 100%;
  @include clearfix;
}

.content-left,
.content-right {
  @include screen-above(1024px) {
    @include size(50%, auto);
  }
}

.content-left {
  @include screen-above(1024px) {
    float: left;
  }
}

.content-right {
  @include screen-above(1024px) {
    position: fixed;
    top: 0;
    right: 0;
  }
}

.heading {
  position: relative;
  background-image: url('../img/narita.jpg');
  @include background-cover;
  @include screen-below(1024px) {
    padding: 250px 0;
    @include size(100%, auto);
  }
  @include screen-above(1024px) {
    @include size(100%, 100vh);
  }
  &:before {
    content: '';
    background-color: $gray;
    @supports (mix-blend-mode: multiply) {
      mix-blend-mode: multiply;
    }
    @include absolute(0, 0, 0, 0);
    @include size(100%);
  }
  h1 {
    @include absolute(50%, auto, auto, 50%);
    @include transform(translate(-50%, -50%));
  }
}

.info {
  padding: 50px;
}

.map {
  @include size(100%, 100vh);
}