.content-wrap {
  width: 100%;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.content-left,
.content-right {
  -webkit-flex: 0 1 100%;
  -ms-flex: 0 1 100%;
  flex: 0 1 100%;
  @include screen-above(1024px) {
    @include size(50%, auto);
    -webkit-flex: 0 1 50%;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
  }
}

.content-left {
  @include screen-below(1024px) {
    border-top: 1px solid $yellow;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
  }
  @include screen-above(1024px) {
    border-right: 1px solid $yellow;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
}

.content-right {
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  @include screen-above(1024px) {
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
  }
}

.heading {
  position: relative;
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    color: $white;
  }

  @include screen-below(1024px) {
    padding: 10%;
    @include size(100%, auto);
  }

  @include screen-above(1024px) {
    @include size(100%, 100vh);
  }
}

.sidebar {
  padding: 0;
  margin: 0;

  button {
    background-color: $black;
    outline: none;
    text-align: center;
    padding: 5px 10px;
    border: 1px solid $yellow;
    margin-right: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    @include transition(all 250ms ease-in-out);

    &:last-of-type {
      margin-right: 0;
    }

    &:focus,
    &:hover {
      color: $black;
      background-color: $yellow;
      border: 1px solid $yellow;
    }
  }
}

.map {
  @include size(100%, 50vh);
  @include screen-above(1024px) {
    @include size(100%, 100vh);
  }
}
