.content-wrap {
  width: 100%;
  @include clearfix;
}

.content-left,
.content-right {
  @include screen-above(1024px) {
    @include size(50%, auto);
  }
}

.content-left {
  border-right: 1px solid rgba($white, .1);
  @include screen-above(1024px) {
    float: left;
  }
}

.content-right {
  @include screen-above(1024px) {
    position: fixed;
    top: 0;
    right: 0;
  }
}

.heading {
  position: relative;
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    color: $white;
  }

  @include screen-below(1024px) {
    padding: 10%;
    @include size(100%, auto);
  }

  @include screen-above(1024px) {
    @include size(100%, 100vh);
  }
}

.airport-list {
  padding: 0;
  margin: 0;
  @include clearfix;

  li {
    float: left;
    list-style-type: none;
    text-align: center;
    padding: 5px 10px;
    border: 1px solid $gray;
    margin-right: 5px;

    &:nth-of-type(3n) {
      margin-right: 0;
    }

    &:hover {
      color: $black;
      background-color: $white;
      border: 1px solid $white;
    }

  }
}

.info {
  padding: 50px;
}

.map {
  @include size(100%, 100vh);
}
