.content {
  @include screen-below(1024px) {
    flex: 1 0 auto;
  }
}

.content-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
}

.content-left,
.content-right {
  flex: 0 1 100%;
  max-width: 100%;
  @include screen-above(1024px) {
    flex: 0 1 50%;
    align-self: auto;
    max-width: 50%;
    @include size(50%, auto);
  }
}

.content-left {
  @include screen-below(1024px) {
    border-top: 1px solid $yellow;
    order: 2;
  }
  @include screen-above(1024px) {
    border-right: 1px solid $yellow;
    order: 1;
  }
}

.content-right {
  order: 1;
  @include screen-above(1024px) {
    order: 2;
  }
}

.heading {
  position: relative;
  text-align: center;
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    color: $white;
  }

  @include screen-below(1024px) {
    padding: 10%;
    @include size(100%, auto);
  }

  @include screen-above(1024px) {
    @include size(100%, 100vh);
  }
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  @include size(75px, auto);

  svg {
    @include size(100%);
  }

  @include screen-above(1024px) {
    @include size(100px, auto);
  }
}

.sidebar {
  button {
    background-color: $black;
    outline: none;
    text-align: center;
    padding: 5px 10px;
    border: 1px solid $yellow;
    margin-right: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    @include transition(all 250ms ease-in-out);

    &:last-of-type {
      margin-right: 0;
    }

    &:focus,
    &:hover {
      color: $black;
      background-color: $yellow;
      border: 1px solid $yellow;
    }
  }
}

.map {
  @include size(100%, 50vh);
  @include screen-above(1024px) {
    @include size(100%, 100vh);
  }
}
