*,
*::after,
*::before {
  @include box-sizing(border-box);
}

::selection {
  color: $white;
  background: $blue;
}

img {
  max-width: 100%;
}

body {
  color: $gray;
  background: $black;
  font-family: 'Roboto', sans-serif;
  line-height: 2;
}
