*,
*::after,
*::before {
  @include box-sizing(border-box);
}

::selection {
  color: $white;
  background: $blue;
}

img {
  max-width: 100%;
}

body {
  color: $white;
<<<<<<< HEAD
  background: $black;
  font-family: 'Roboto', sans-serif;
=======
  background: $blue;
  font-family: 'Josefin Sans', sans-serif;
>>>>>>> b0c59b6624475ee4ad5cea8bce67091998a1959c
  line-height: 2;
}
