*,
*::after,
*::before {
  @include box-sizing(border-box);
}

::selection {
  color: $black;
  background: $yellow;
}

a {
  color: $gray;
  @include transition(color 250ms ease-in-out);

  &:hover {
    color: $black;
  }
}

html,
body {
  height: 100%;
}

body {
  color: $gray;
  background: $black;
  font-family: 'Roboto', sans-serif;
  line-height: 2;
  display: flex;
  flex-direction: column;
}
